@use "../../styles/colors.scss";

.card {
  width: 339px;
  height: 443px;
  border-radius: 15px;
  background-color: colors.$background_paper;
}

.avatarHolder{
  margin: 15px 0 21px 15px;
}

.imageHolder{
  display: flex;
  justify-content: center;
}

.media {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  height: 286px;
  width: 309px;
}

.titles {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 900 !important;
  font-size: 16px !important;
}

.price {
  color: colors.$secondary_main !important;
}

.likes {
  color: colors.$secondary_main !important;
}
